.git
.github
**/.DS_Store

**/.env
**/.env.*
**/.venv
**/node_modules
**/.next
**/coverage
**/__pycache__
**/*.py[cod]
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache

backend/db.sqlite3
frontend/lib/backend/generated
